body{
    font-family: 'Montserrat', sans-serif; 
    margin: 0px;
}

section{
    height: 550px;
    padding-bottom: 70px;
}

p{
    color: dimgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    line-height: 1.5em;
}

.text-align-right {
    text-align: right;
    margin: 30px 120px 70px 0px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(54, 53, 53);
}

h1{
    font-size: 50px;
    color : #363958;
    font-weight: bold;
    line-height: 0.5;
}

#title-name{
    font-size: 40px;
}

h2{
    color: #363958 ;
    font-size: 35px;
}

.half-width{
    width: 40%;
    float: left;
    margin-left : 5% ;
    padding-left: 2% ;
    
}
.half-width img{
    width: 100%;
}


.link-button{
    text-decoration: none;
    background-color: #ff6347;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
    
}

.salmon-color{
    color: salmon;
}

.showup-heading{
    text-align: center;
}

.showup-section{
    background-color: whitesmoke;
    padding: 70px;
    padding-bottom: 13%;
    margin-bottom: 5%;
}

.one-third{
    width: 26%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
    margin-top: 44px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgb(236, 232, 232);
    height: 80%;
}

.inner-div img{
    width: 100%;
    height: 80%;
}
.inner-div{
    padding-top: 20px;
    padding-right: 5%;
}

.text-area h2{
    font-size: 20px;
}


.inquery-farewell-section{
    margin-top: 50px;
}

.inquiry-area {

    width: 65%;
    margin: auto;
    background-image: url("images/Group_33094_1.png");
    border:1px solid rgb(252, 252, 252);
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    
}


.inquiry-area h3{
    width: 50%;
}

#inqu-text{
    margin: 16% 0% 0% 10%;
    font-size: 30px;
    color: white;
}


#chat-link{
    margin-left: 280px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif ;
    color : white;
    background-color: #FA7161;
    padding: 12px 20px;
    border-radius: 10px;
}


.contact-area{
    text-align: center;
    margin-top: 55px;
}

.contact-area h4{
    color: dimgray ;
}

.logo-size{
    width: 30px;
}





.top-skill{
    text-align: center;
    padding-top: 50px;
    margin-top: 3%;
    background-color: rgb(241, 234, 234);
    width: 70%;
    margin: auto;
    height: 80%;
    box-shadow: 4px 4px 10px rgb(219, 217, 217);
}

#tp-style{
    background-image: linear-gradient(45deg, salmon,tomato);
    width: 30%;
    margin: auto;
    height: 10%;
    padding-top: 1%;
    border-radius: 25px;
}

.skill-brief{
    margin-left: 16%;
    margin-right: 7%;
    margin-top: 6%;
}

#div-design-1{
    background-color: tomato;
    width: 88%;
    height: 20px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    padding-top: 3px;
}
#div-design-2{
    background-color: tomato;
    width: 75%;
    height: 20px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
   padding-top: 3px;
}
#div-design-3{
    background-color: tomato;
    width: 80%;
    height: 20px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
   padding-top: 3px;
}
#div-design-4{
    background-color: tomato;
    width: 84%;
    height: 20px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
   padding-top: 3px;
}
#div-design-5{
    background-color: tomato;
    width: 60%;
    height: 20px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
   padding-top: 3px;
}
#div-design-6{
    background-color: tomato;
    width: 81%;
    height: 20px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
   padding-top: 3px;
}
#div-design-7{
    background-color: tomato;
    width: 70%;
    height: 20px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
   padding-top: 3px;
}
#div-design-8{
    background-color: tomato;
    width: 86%;
    height: 20px;
    border-radius: 30px;
    color: white;
    font-weight: 500;
   padding-top: 3px;
}


